.text-field{
	-fx-border-color: lightgrey;
	-fx-border-style: hidden hidden solid hidden;
	-fx-background-color: white;
	-fx-prompt-text-fill: gray;
}

.text-field:hover{
	-fx-border-color: red;
}


.text-field:focused{
	-fx-border-color: black;
	-fx-border-style: hidden hidden solid hidden;
}


.text-field:empty .text {
    -fx-effect: null ;
}

.button:hover{
	-fx-scale-x: 1.3;
    -fx-scale-y: 1.3;
}


.image-view:hover {
    -fx-scale-x: 1.3;
    -fx-scale-y: 1.3;
}

#labelMin{
	-fx-background-image: url("../images/minimize.png");
	-fx-background-repeat: no-repeat;
	-fx-background-size: 10px 10px;
}

#labelMin:hover{
	-fx-scale-x: 1.3;
    -fx-scale-y: 1.3;
}

#labelClose{
	-fx-background-image: url("../images/close.png");
	-fx-background-repeat: no-repeat;
	-fx-background-size: 10px 10px;
}

#labelClose:hover{
	-fx-scale-x: 1.3;
    -fx-scale-y: 1.3;
}